jdk:
  - oraclejdk8

language: android
android:
  components:
    - build-tools-23.0.1
    - android-23
    - sys-img-armeabi-v7a-android-21
    - extra-android-m2repository
    - extra-google-m2repository

env:
  global:
   # install timeout in minutes (2 minutes by default)
    - ADB_INSTALL_TIMEOUT=8

before_script:
  - echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  #- adb wait-for-device
  - adb shell input keyevent 82 &

script:
  - ./gradlew clean test